:root {
  --primary-red: #f64f59;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  color: #ececec;
  font-size: 13px;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

.btn {
  text-decoration: none;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.btn-icon {
  width: 15px;
  vertical-align: middle;
  display: inline-block;
}

.btn-txt {
  padding-left: 10px;
  vertical-align: middle;
}

.menu-btn {
  padding: 12px 15px;
  display: inline-block;
}

.menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.login-btn {
  padding: 5px 20px;
  border-radius: 3px;
}
.menu-bar {
  overflow: hidden;
  background-color: var(--primary-red);
  box-shadow: -5px -7px 15px 1px rgba(0, 0, 0, 0.8);
  padding-left: 20%;
  padding-right: 20%;
}

.disabled {
  pointer-events: none;
}

.app-icon-container {
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 50%;
}

.page {
  text-align: center;

  width: 50%;
  margin: 0 auto;
}

.page-title {
  font-weight: 400;
  font-size: 35px;
}

.passport-title {
  margin-top: 10px;
  font-size: 20px;
}

.passport-title span {
  color: var(--primary-red);
}

.window {
  width: 80%;
  margin: 20px auto;
  border-radius: 6px;
  box-sizing: border-box;
}

.window.profile {
  width: 70vw;
  height: 90vh;
  background-color: #151515;
  margin: 20px auto;
  border-radius: 6px;
  box-sizing: border-box;
}
.title-bar {
  background-color: #ececec;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: #4d494d;
  padding-top: 5px;

  padding-bottom: 5px;
}
.title-bar > p {
  text-align: center;
  font-size: 10px;
}
.buttons > p {
  text-align: center;
  margin: 0px;
  /* font-weight :bold; */
}

.All {
  margin-bottom: 150px;
  margin-left: 5%;
}

.needtobeFlexd {
  display: flex;
}
@media only screen and (max-width: 1200px) {
  .needtobeFlexd {
    display: grid !important;
    grid-template-rows: 100px;
  }
}

@media only screen and (max-width: 940px) {
  .needtobeFlexd {
    grid-template-rows: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .needtobeFlexd {
    grid-template-rows: 220px;
  }
}
@media only screen and (max-width: 450px) {
  .needtobeFlexd {
    grid-template-rows: 410px;
  }
}

@media only screen and (max-width: 390px) {
  .needtobeFlexd {
    grid-template-rows: 350px;
  }
}
@media only screen and (max-width: 300px) {
  .needtobeFlexd {
    grid-template-rows: 550px;
  }
}

@media only screen and (max-width: 1200px) {
  .All {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-auto-rows: 65px;
    grid-gap: 5px;
  }
}
@media only screen and (max-width: 1200px) {
  header {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .AllButton {
    width: 100%;
  }
}
.AllButton {
  background-color: white;
  border: 1px solid #bbb;
}
.buttons {
  background-color: #bbb;
}
.fakeButtons {
  height: 10px;
  float: left;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.content {
  background-color: #151515;
  /* height: 200px; */
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid-container {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
